.content {
    text-align: center;
    padding-top: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mr {
    margin-right: 16px;
}
