:host {
    display: flex;
    justify-content: center;
    position: relative;
}

.top-bar {
    position: absolute;
    left: 0;
    top: 0;
}

mat-card {
    width: 250px;
}

mat-card::ng-deep.mat-card-header-text {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;

    > div {
        flex: 50%;
        border-radius: 10px;
        padding: 10px;
    }

    > .outlook {
        color: black;
        background: rgba(0, 0, 0, 0.1);
    }

    > .temp {
        background: lightblue;
        color: black;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .big-text {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .image {
        height: 80px;
    }
}
